<div class="loading" *ngIf="this.Mainservice.pageloaderMainservice==true">;

</div>

<div *ngIf="sidebardata1 == 'Training'" class="px-4">
  <div class="row bgcolorListData px-2 my-4 py-4" *ngFor="let trainingData of setListData1; let i = index">
    <div class="d-flex justify-content-end">
      <span class="mr-3" (click)="onEdit(sidebardata1, trainingData, trainingData.uuid)"><img
          src="../../../../../assets/updateIcon.svg" class=" " alt="updateicon">
      </span>

      <span (click)="onDelete(sidebardata1, trainingData.uuid)">
        <img src="../../../../../assets/Deleteicon.svg" class=" " alt="Delete ">
      </span>

    </div>
    <h5 class="col-12">{{ trainingData.title}}</h5>
    <div class="col-12 py-1">
      <B>Duration:</B>
      <P class="d-inline px-1">{{
        (trainingData.startdate |date)+ " - " + (trainingData.enddate|date)
        }}</P>
    </div>
    <p class="col-12">{{ trainingData.description }}</p>
    <div class="mb-2 col-12">
      <B>Registration Link:</B>
      <P class="d-inline px-1">{{ trainingData.registrationLink }}</P>
    </div>

    <div class="mb-2 col-4">
      <B>Organized By: </B>
      <P class="d-inline px-1">{{ trainingData.organizedBy }}</P>
    </div>
    <div class="mb-2 col-4">
      <B>Municipality : </B>
      <P *ngFor="let municipality of trainingData.municipality" class="d-inline px-1">{{ municipality+"," }}</P>
    </div>
    <div class="mb-2 col-4">
      <B>Sector : </B>
      <P *ngFor="let sector of trainingData.sector" class="d-inline px-1">{{ sector+"," }}</P>
    </div>

    
    <div class="mb-2 col-4">
      <B>Registration fee : </B>
      <P  class="d-inline px-1">{{ trainingData.feeRegistration?trainingData.feeRegistration:'Nil' }}</P>
    </div>

    <div class="mb-2 col-4">
      <B>Last date to apply : </B>
      <P  class="d-inline px-1">{{ trainingData.lastDateToApply?(trainingData.lastDateToApply|date):'Nil' }}</P>
    </div>


    <div class="mb-2 col-12">
      <B>Address : </B>
      <P  class="d-inline px-1">{{ trainingData.address }}</P>
    </div>

    <div class="mb-2 col-12">
      <B>Basic Requirements : </B>
      <P  class="d-inline px-1">{{ trainingData.basic_requirement?trainingData.basic_requirement:'Nil' }}</P>
    </div>

    <div class="mb-2 col-12">
      <B>Location Link : </B>
      <P  class="d-inline px-1">{{ trainingData.mapLink?trainingData.mapLink:'Nil' }}</P>
    </div>

    <div class="mb-2 col-12">
      <B>How to register : </B>
      <P  class="d-inline px-1">{{ trainingData.howToRegister?trainingData.howToRegister:'Nil' }}</P>
    </div>

    <div class="mb-2 col-12">
      <B>Other information : </B>
      <P  class="d-inline px-1">{{ trainingData.otherInfo?trainingData.otherInfo:'Nil' }}</P>
    </div>
  </div>
</div>
<div *ngIf="sidebardata1 == 'Learnings - upskill'" class="px-4">
  <div class="row bgcolorListData px-2 my-4 py-4" *ngFor="let data of setListData1">
    <div class="d-flex justify-content-end">
      <span class="mr-3" (click)="onEdit(sidebardata1, data, data.id)"> <img src="../../../../../assets/updateIcon.svg"
          class=" " alt="updateicon">
      </span>
      <span (click)="onDelete(sidebardata1, data.uuid)">
        <img src="../../../../../assets/Deleteicon.svg" class=" " alt="Delete ">
      </span>

    </div>
    <h5 class="col-12">{{ data.courseName }}</h5>

    <p class="col-12">{{ data.description }}</p>
    <div class="col-12 mb-1">
      <B class="mr-2">Resource:</B>

      <p *ngFor="let resourceData of data.resourceslink" class="d-inline px-1">
        <a [href]="resourceData.resourcelink" [download]="resourceData.resourceName">{{ resourceData.resourceName+",
          "}}</a>
      </p>
    </div>


    <div class="col-12 mb-2">
      <div class="d-flex " *ngIf="data &&data.courseLink&&data?.courseLink.length>0">
        <B class="mr-2 ">Course Link :</B>
        <p *ngFor="let resourceData of data?.courseLink" class="d-inline px-1 ">
          {{ resourceData.link+", "}}
        </p>
        
      </div>
     
    </div>

    <div class="col-4 mb-2">
      <B class="">Sector:</B>

      <p *ngFor="let sector of data.sector" class="d-inline px-1">
        {{sector+"," }}
      </p>
    </div>

    <div class="col-4 mb-2">
      <B class="">Module:</B>

      <p  class="d-inline px-1">
        {{data.moduleName }}
      </p>
    </div>

    <div></div>
  </div>
</div>

<div *ngIf="sidebardata1 == 'EBooks'" class="px-4">

  <div class="bgcolorListData px-4 my-4 py-4 row" *ngFor="let data of setListData1">
    <!-- [{id:1,uuid:'uasd-asdas-dad',title:'Tourism',description:'desc tour',downloadLink:'http://example.com/download',resourceslink:['http://example.com/download1','http://example.com/download2'],language:'Tetum',noPages:50,publisherName:'new publisher'}] -->
    <div class="d-flex justify-content-end">
      <span class="mr-3" (click)="onEdit(sidebardata1, data, data.id)"> <img src="../../../../../assets/updateIcon.svg"
          class=" " alt="updateicon">
      </span>
      <span (click)="onDelete(sidebardata1, data.uuid)">
        <img src="../../../../../assets/Deleteicon.svg" class=" " alt="Delete ">
      </span>

    </div>
    <h5 class="col-12 mb-2">{{ data.title }}</h5>
    <p class="col-12 mb-2">{{ data.description }}</p>
    <p class="col-12 mb-2"><b>Language: </b>{{ data.language?.[0] }}</p>
    
    <div class="col-12 mb-2">
      <div class="d-flex">
        <B>Download Link :</B>
        <a [href]="data.downloadLink" target="_blank">{{ data.downloadLink }}</a>
      </div>
    </div>

    <div class="col-4 mb-2">
        <B>No of page :</B>
        <p  class="d-inline px-1">{{data.noPages}}</p>
    </div>

    <div class="col-8 mb-2">
      <B>Publisher Name :</B>
      <p  class="d-inline px-1">{{data.publisherName}}</p>
  </div>

    <div></div>

    <div *ngIf="data.resourceslink?.link" class="col-12 mb-1">
      <B>Resource:</B>
     
        <P class="d-inline px-1">
          <a [href]="data.resourceslink.link" [download]="data.resourceslink?.link">{{ data.resourceslink.title+"," }}</a>
        </P>
        
    
    </div>
  </div>
</div>


<div *ngIf="sidebardata1 == 'Job Offers'" class="px-4">
  <div class="row bgcolorListData px-2 my-4 py-4" *ngFor="let data of setListData1">
    <div class="d-flex justify-content-end">
      <span class="mr-3" (click)="onEdit(sidebardata1, data, data.uuid)"><img src="../../../../../assets/updateIcon.svg"
          class=" " alt="updateicon">
      </span>
      <span data-toggle="modal" data-target="#exampleModal" (click)="onDelete(sidebardata1, data.uuid)">
        <img src="../../../../../assets/Deleteicon.svg" alt="Delete ">
      </span>

    </div>
    <h5 class="col-12 mb-2">{{ data.title }}</h5>
    <p class="col-12 mb-2">{{ data.description }}</p>
    <div class="col-12 mb-2">
      <B>Roles and Responsibility:</B>
      <P class="d-inline px-1">{{ data.rolesAndResponsibility }}</P>
    </div>

    <div class="col-12 mb-2">
      <B>Basic Requirements:</B>
      <P class="d-inline px-1">{{ data.basicRequirements }}</P>
    </div>

    <div class="col-12 mb-2">
      <div class="d-flex">
        <B>Address :</B>
        <P class="d-inline px-1">{{ data.address }}</P>
      </div>
    </div>

    <div class="col-12 mb-2">
      <B>Link to apply :</B>
      <P class="d-inline px-1">{{ data.linkToApply }}</P>
    </div>

    <div class="col-4 mb-2">
      <B>Country :</B>
      <P class="d-inline px-1">{{ data.jobCountry }}</P>
    </div>

    <div class="col-4 mb-2">
      <B>Last date to apply :</B>
      <P class="d-inline px-1">{{ data.lastDatetoApply|date }}</P>
    </div>

   
      <div class="mb-2 col-4">
        <B>sector : </B>
        <P *ngFor="let sector of data.sector" class="d-inline px-1">{{ sector+"," }}</P>
      </div>
    
      <div class="col-4 mb-2">
        <B>How to apply :</B>
        <P class="d-inline px-1">{{ data.howToApply }}</P>
      </div>

      <div class="col-12 mb-2">
        <B>Resource :</B>
        <a [href]="data.jobDescriptionPDFLink?.link" [download]="data.jobDescriptionPDFLink?.link" class="d-inline px-1">{{ data.jobDescriptionPDFLink?.title }}</a>
      </div>
    <div></div>
  </div>
</div>

<div *ngIf="sidebardata1 == 'Help Line'" class="px-4">
  <div class="row bgcolorListData px-2 my-4 py-4" *ngFor="let data of setListData1">
    <div class="d-flex justify-content-end">
      <span class="mr-3" (click)="onEdit(sidebardata1, data, data.id)">
        <img src="../../../../../assets/updateIcon.svg" alt="updateicon">
      </span>

    </div>

    <p class="col-12 helpLinePreformat">{{ data.data }}</p>


    <div></div>
  </div>
</div>


<div *ngIf="sidebardata1 == 'Configuration'" style="margin-top: -50px;" class="mx-auto">
  <div class="row mt-5 mx-auto">
    <div class="form-group col-7 mb-4 mx-auto">
      <label class="fs-4 fw-bold" for="exampleInputEmail1 mb-3">Registration welcome message</label>
      <textarea cols="50" rows="4" class="form-control mt-3" [(ngModel)]="beforeRegistration"
        placeholder="message"></textarea>
      <button class="btn btn-primary mt-3 floatbtn" (click)="showchange('beforeRegistration')"
        *ngIf="beforeRegistration!==beforeRegistrationRaw">Update</button>
    </div>

    <div class="form-group col-7 mb-4 mx-auto">
      <div class="row d-flex justify-content-center mb-3">
        <div class="div col">
          <label class="fs-4 fw-bold" for="exampleInputEmail1 float-left ">Advertisement Message</label>
        </div>
        <div class="div col">
          <label for="exampleInputEmail1  " class="mr-3">Show Advertisement</label>
          <input type="checkbox" data-toggle="toggle" (click)="showchange('showAdvertisement')"
            ng-checked="showAdvertisement" id="showadverisementtoggle" [(ngModel)]="showAdvertisement"
            class="togglebtn">
        </div>

      </div>

      <textarea cols="50" rows="4" class="form-control mt-3" [(ngModel)]="advertisementMessage"
        placeholder="message"></textarea>
      <button *ngIf="advertisementMessage!==advertisementMessageRaw" (click)="showchange('advertisementMessage')"
        class="btn btn-primary mt-3 floatbtn">Update</button>
    </div>

    <div class="form-group col-7 mx-auto">
      <label class="fs-4 fw-bold" for="exampleInputEmail1 mb-3">Main menu</label>
      <textarea cols="50" rows="4" class="form-control mt-3" [(ngModel)]="mainMenu" placeholder="message"></textarea>
      <button *ngIf="mainMenu!==mainMenuRaw" (click)="showchange('mainMenu')"
        class="btn btn-primary mt-3 floatbtn">Update</button>
    </div>

  </div>
</div>

<!--Delete Modal -->

<div class="modal fade" id="exampleModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{sidebardata1}}</h5>

      </div>
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" (click)="abortFun()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteFunCall()" data-dismiss="modal" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

