<div class="row">
    <div class="col-2 py-2 bg-light d-flex justify-content-center align-items-center">
       <h3 class="text-dark font-weight-bold">CSR Education</h3>
    </div>
    <div class="col-10 bgcolorMain py-2 ">
        <div class="row d-flex flex-row  align-items-center px-4">
            <h2 class="txt-pink col textright">Lougout</h2>
            <div class="col-1 col-1 d-flex justify-content-center">
                <img src="../../assets/logoutimage.png" class="logoutimage " alt="logoutimage">
            </div>
         
        </div>
     
    </div>
</div>
