.trainingImageSize{
    height: 40px;
    width: 40px;
}

.inputsearch{
    border-bottom-width: 2px;
    /* border: none; */
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    width: 250px !important;
    background-color: transparent !important;
}

.bgcolorListData{
    background-color: #EFF0F6;
}


.pageCenter{
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: #00000030;
    position: fixed;
    overflow: hidden;
}


.container{
    background-color: white;
    border-radius: 20px;
}
.custom-control-label{
    padding: 8px;
    border-radius: 8px;
    color: #424242;
    &:active{
        background-color: #1B59F8;
        color: #FFFFFF;
    }
    
    
    
}



// Search bar code

