<div class="loading" *ngIf="this.Mainservice.pageloaderMainservice == true">
  Loading&#8230;
</div>

<app-errorpopup
  *ngIf="errorPopup == true"
  (errorPopupFun)="errorPopupClose()"
></app-errorpopup>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="py-3 px-4 d-flex flex-row justify-content-between">
  <h3>{{ this.Mainservice.sidebardata.values }}</h3>
  <!-- <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalCenter"

  >
    Launch demo modal
  </button> -->
  <img
    *ngIf="
      !['Help Line', 'Configuration'].includes(
        this.Mainservice.sidebardata.values
      )
    "
    type="button"
    src="../../../../assets/addbtn.svg"
    class="trainingImageSize"
    alt="addbtnImage"
    (click)="openModal()"
  />
</div>
<div
  *ngIf="
    !['Help Line', 'Configuration'].includes(
      this.Mainservice.sidebardata.values
    )
  "
  class="px-4"
>
  <div class="form-group d-flex flex-row md-form form-sm">
    <i
      class="fa fa-search py-3"
      style="
        font-size: 15px;
        color: rgba(0, 0, 0, 0.523);
        display: inline;
        width: 30px;
      "
    ></i>
    <input
      type="text"
      placeholder="Search"
      (ngModelChange)="changeEventCall($event)"
      [(ngModel)]="searchSring"
      class="inputsearch form-control"
    />
  </div>
</div>

<app-list-data (filterEvent)="filterEventfun($event)"
  [sidebardata]="Mainservice.sidebardata.values"
  [setListData]="searchSring == '' ? Mainservice.setListData : userDataDisplay"
  (onDeleteData)="onDeleteData($event)"
  (onEditData)="onEditData($event)"
  (onSortData)="onSortData($event)"
>
</app-list-data >

<div
  class="modal fade"
  id="addPopUp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{
            this.editFlag
              ? "Update " + this.Mainservice.sidebardata.values + " Details"
              : "Add " + this.Mainservice.sidebardata.values + " Details"
          }}
        </h5>
      </div>
      <!-- Training -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Training'"
      >
        <form [formGroup]="trainingFrom" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
            <lAbel class="mb-2 px-1 ">Title <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="title"
              placeholder="Title"
            />
            <lAbel class="mb-2 px-1 ">Description <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              class="form-control mb-3"
              formControlName="description"
              placeholder="Description"
            ></textarea>
            <lAbel class="mb-2 px-1 ">Start Date <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="date"
              class="form-control mb-3"
              formControlName="startdate"
              id="startDate"
            />
            <lAbel class="mb-2 px-1 ">End Date <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="date"
              class="form-control mb-3"
              formControlName="enddate"
              id="endDate"
            />
            <lAbel class="mb-2 px-1 ">Address <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              type="text"
              class="form-control mb-3"
              formControlName="address"
              placeholder="Address"
            ></textarea>
            <!-- <div class="d-flex">
              <input
                type="radio"
                class="custom-control custom-radio"
                formControlName="trainingFrequency"
                id="once"
                value=""
              />
              <label
                for="once"
                class="custom-control-label"
                (click)="show()"
                [ngClass]="{
                  selected: trainingFrom.value.trainingFrequency === true
                }"
                >Once</label
              >
              <input
                type="radio"
                class="custom-control custom-radio"
                formControlName="trainingFrequency"
                id="repeat"
                value="false"
              />
              <label
                for="repeat"
                class="custom-control-label"
                (click)="show()"
                [ngClass]="{
                  selected: trainingFrom.value.trainingFrequency === false
                }"
                >Repeat</label
              >
            </div> -->
            <lAbel class="mb-2 px-1 ">Municipality <P class="text-danger d-inline">*</P></lAbel>
            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select Municipality'"
              [settings]="settings"
              [data]="muncipality_data"
              [formControl]="f.municipality"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
              class="mb-3"
            >
            </ng-multiselect-dropdown>
            <lAbel class="mb-2 mt-3 px-1 ">Basic requirement </lAbel>
            <input
              type="text"
              class="form-control mb-3 "
              formControlName="basic_requirement"
              placeholder="Basic requirement (Optional)"
            />
            <lAbel class="mb-2 px-1 ">Sector <P class="text-danger d-inline">*</P></lAbel>
            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select sector'"
              [settings]="settings"
              [data]="sector_data_trainings"
              [formControl]="f.sector"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>
            <lAbel class="mb-2 mt-3 px-1 ">Registration Link <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3 "
              formControlName="registrationLink"
              placeholder="Registration Link"
            />
            <lAbel class="mb-2 px-1 ">Organized by <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3 "
              formControlName="organizedBy"
              placeholder="Organized by"
            />
            <lAbel class="mb-2 px-1 ">Location</lAbel>
            <input
              type="text"
              class="form-control mb-3 "
              formControlName="mapLink"
              placeholder="Location"
            />
            <lAbel class="mb-2 px-1 ">Fees Registration</lAbel>
            <input
              type="text"
              class="form-control mb-3 "
              formControlName="feeRegistration"
              placeholder="Fees Registration"
            />
            <lAbel class="mb-2 px-1 ">How to register</lAbel>
            <textarea
              class="form-control mb-3"
              formControlName="howToRegister"
              placeholder="How to register"
            ></textarea>
          </div>

          <label class="mb-2"> Last date to apply  <P class="text-danger d-inline">*</P></label>

          <input
            type="date"
            class="form-control mb-3 mt-1"
            formControlName="lastDateToApply"
            placeholder="Fees Registration"
          />
          <lAbel class="mb-2 px-1 ">Any other info?</lAbel>
          <textarea
            class="form-control mb-3"
            formControlName="otherInfo"
            placeholder="Any other info?"
          ></textarea>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="!this.trainingFrom.valid"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
      <!-- Job offers -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Job Offers'"
      >
        <form [formGroup]="joboffersForm" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
            <lAbel class="mb-1 px-1 ">Title <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="title"
              placeholder="Title"
            />
            <lAbel class="mb-1 px-1 ">Description <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              class="form-control mb-3"
              formControlName="description"
              placeholder="Description"
            ></textarea>
            <lAbel class="mb-1 px-1 ">Sector <P class="text-danger d-inline">*</P></lAbel>
            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select sector'"
              [settings]="settings"
              [data]="sector_data_jobs"
              [formControl]="f.sector"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>
            <lAbel class="mb-1 mt-3 px-1 ">Link To Apply <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="linkToApply"
              placeholder="Link To Apply"
            />
            <lAbel class="mb-1 px-1 ">Country <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="jobCountry"
              placeholder="Country"
            />
            <label class="mb-1 px-1" for="">Last date to apply: <P class="text-danger d-inline">* </P></label>
            <input
              type="date"
              class="form-control mb-3 "
              formControlName="lastDatetoApply"
              placeholder="Last date to apply"
            />
            <lAbel class="mb-1 px-1 ">How to apply <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              type="text"
              class="form-control mb-3"
              formControlName="howToApply"
              placeholder="How to apply"
            ></textarea>
            <lAbel class="mb-1 px-1 ">Roles and Responsibility <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              type="text"
              class="form-control mb-3"
              formControlName="rolesAndResponsibility"
              placeholder="Roles and Responsibility"
            ></textarea>
            <lAbel class="mb-1 px-1 ">Basic requirement  </lAbel>
            <input
              type="text"
              class="form-control mb-3 "
              formControlName="basicRequirements"
              placeholder="Basic requirement (Optional)"
            />
            <lAbel class="mb-1 px-1 ">Address <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              type="text"
              class="form-control mb-3 "
              formControlName="address"
              placeholder="Address"
            ></textarea>

            <lAbel class=" px-1 ">Job description</lAbel>
            <!--  -->

            <!--  -->
            <div
              class="mt-1"
              style="display: flex; margin-bottom: 30px; flex-direction: row"
              formGroupName="jobDescriptionPDFLink"
            >
              <input
                type="file"
                [id]="'learnAndUpskillresource'"
                class="fileInput col-8"
                style="display: none"
                placeholder="Browse"
                name="file1"
                (change)="setfileJobs($event)"
                class="fileInput col-10"
              />
              <label
              (click)="resetFileInput('learnAndUpskillresource')"
                [for]="'learnAndUpskillresource'"
                class="inputWrapper col-2"
              >
                <span class="appendInpText">Browse</span>
              </label>
              <div class="col-8 pl-0" style="padding-left: 0px !important">
                <input
                  disabled
                  type="text"
                  class="form-control"
                  formControlName="title"
                  [placeholder]="'choose Document'"
                />
              </div>
              <div>
                <img
                  class="deletebtnStyle mb-2 px-0"
                  src="../../../../assets/Deleteicon.svg"
                  (click)="deletejobDescriptionPDFLink()"
                  alt="deleteicon"
                />
               
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button
              [disabled]="!this.joboffersForm.valid"
              type="submit"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
      <!-- Learnings - upskill -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Learnings - upskill'"
      >
        <form [formGroup]="learnAndUpskill" (ngSubmit)="addSubmitForm()"
        >
        <!--  -->
          <div class="form-group">
            <lAbel class="mb-2 px-1 ">Title <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="courseName"
              placeholder="Title"
            />
            <lAbel class="mb-2 px-1 ">Description <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              class="form-control mb-3"
              formControlName="description"
              placeholder="Description"
            ></textarea>
            <lAbel class="mb-2 px-1 ">Sector <P class="text-danger d-inline">*</P></lAbel>
            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select sector'"
              [settings]="settings"
              [data]="sector_data_skills"
              [formControl]="f.sector"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>
            <lAbel class="mb-2 px-1 mt-3 ">Module Name <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="moduleName"
              placeholder="Module Name"
            />
            <lAbel class="mb-2 px-1 ">Resource </lAbel>
            <div formArrayName="resourceslink">
              <div
                class="row mb-4"
                *ngFor="
                  let resourcelink of learnAndUpskill.get('resourceslink')
                    .controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <input
                  [id]="'learnAndUpskillresource' + i"
                  class="fileInput col-8"
                  style="display: none"
                  type="file"
                  placeholder="Browse"
                  (change)="setfile(i, $event)"
                  name="file1"
                />
                <label
                  [for]="'learnAndUpskillresource' + i"
                  (click)="resetFileInput('learnAndUpskillresource' + i)"
                  class="inputWrapper col-2"
                  style="margin-left: 15px"
                >
                  <span class="appendInpText">Browse</span>
                </label>
                <div class="col-8 pl-0" style="padding-left: 0px !important">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    formControlName="resourceName"
                    [placeholder]="'choose Document'"
                  />
                </div>
                <div class="col-2 d-flex align-items-center">
                  <img
                    class="deletebtnStyle mb-2 px-0"
                    src="../../../../assets/Deleteicon.svg"
                    (click)="deleteResource(i)"
                    alt="deleteicon"
                  />
                 
                </div>
                <!-- </div> -->
              </div>
            </div>

            <!--  -->
            <lAbel class="mb-2 mt-1 px-1 ">Course link </lAbel>
            <div class="mb-3 " formArrayName="courseLink">
              <div
                class="row px-3 mb-4"
                *ngFor="
                  let resourcelink of learnAndUpskill.get('courseLink')
                    .controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <div class="col-10 pl-0" style="padding-left: 0px !important">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="link"
                    [placeholder]="'Course Link'"
                  />
                </div>
                <div class="col-2 d-flex align-items-center">
                  <img
                    class="deletebtnStyle mb-2 px-0"
                    src="../../../../assets/Deleteicon.svg"
                    (click)="deleteCourseLink(i)"
                    alt="deleteicon"
                  />
                  <img
                    class="mb-1 deletebtnStyle px-0"
                    *ngIf="i == getCourseLink(i)"
                    (click)="addCourselink()"
                    src="../../../../assets//addbtnfilebutton.svg"
                    alt="addbtnsvg"
                  />
                </div>
                <!-- </div> -->
              </div>
            </div>
            <!--  -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="!this.learnAndUpskill.valid"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
      <!-- EBooks -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'EBooks'"
      >
        <form [formGroup]="ebooks" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
            <lAbel class="mb-2 px-1 ">Title <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="title"
              placeholder="Title"
            />
            <lAbel class="mb-2 px-1 ">Description <P class="text-danger d-inline">*</P></lAbel>
            <textarea
              class="form-control mb-3"
              formControlName="description"
              placeholder="Description"
            ></textarea>
            <lAbel class="mb-2 px-1 ">Download Link <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3 "
              formControlName="downloadLink"
              placeholder="Download Link"
            />
            <lAbel class="mb-2 px-1 ">Language <P class="text-danger d-inline">*</P></lAbel>
            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select language'"
              [settings]="settings_ebook"
              [data]="ebooks_resource_language"
              formControlName="language"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
            >
            </ng-multiselect-dropdown>
            <lAbel class="mb-2 px-1 mt-3">No of pages <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="noPages"
              placeholder="No of pages"
            />
            <lAbel class="mb-2 px-1 ">Publisher name <P class="text-danger d-inline">*</P></lAbel>
            <input
              type="text"
              class="form-control mb-3"
              formControlName="publisherName"
              placeholder="Publisher name"
            />
            <lAbel class="mb-2 px-1 ">Resource </lAbel>
            <ng-container class="px-2 mb-3">
              <div class="row px-2 mb-4" formGroupName="resourceslink">
                <input
                  type="file"
                  id="EbooksResource"
                  class="fileInput col-10"
                  style="display: none"
                  placeholder="Browse"
                  name="file1"
                  (change)="setfileebook($event)"
                  class="fileInput col-10"
                />
                <label for="EbooksResource" (click)="resetFileInput('EbooksResource')"  class="inputWrapper col-2">
                  <span  class="appendInpText">Browse</span>
                </label>
                <div class="col-8 pl-0" style="padding-left: 0px !important">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="title"
                    [placeholder]="'choose Document'"
                  />
                </div>
                <div class="col">
                  <img
                    class="deletebtnStyle mb-2 px-0"
                    src="../../../../assets/Deleteicon.svg"
                    (click)="deleteResourceLinkEbook()"
                    alt="deleteicon"
                  />
                 
                </div>
              </div>
              
            </ng-container>
           
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="!this.ebooks.valid"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>

      <!-- Help Line -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Help Line'"
      >
        <form [formGroup]="helpLine" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
            <textarea
              class="form-control mb-3"
              rows="10"
              cols="30"
              formControlName="data"
              placeholder="Help Line message"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
