<div class="loading" *ngIf="this.Mainservice.pageloaderMainservice == true">
  Loading&#8230;
</div>

<app-errorpopup
  *ngIf="errorPopup == true"
  (errorPopupFun)="errorPopupClose()"
></app-errorpopup>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="py-3 px-4 d-flex flex-row justify-content-between">
  <h3>{{ this.Mainservice.sidebardata.values }}</h3>
  <!-- <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalCenter"

  >
    Launch demo modal
  </button> -->
  <img
  *ngIf="this.Mainservice.sidebardata.values!='Help Line'"
    type="button"
    src="../../../../assets/addbtn.svg"
    class="trainingImageSize"
    alt="addbtnImage"
    (click)="openModal()"
  />
</div>
<div class="px-4">
  <div class="form-group d-flex flex-row md-form form-sm">
    <i
      class="fa fa-search py-3"
      style="
        font-size: 15px;
        color: rgba(0, 0, 0, 0.523);
        display: inline;
        width: 30px;
      "
    ></i>
    <input type="text" placeholder="Search" (ngModelChange)="changeEventCall($event)" [(ngModel)]="searchSring" class="inputsearch form-control" />
  </div>
</div>

<app-list-data
  [sidebardata]="Mainservice.sidebardata.values"
  [setListData]="searchSring==''?Mainservice.setListData:userDataDisplay"
  (onDeleteData)="onDeleteData($event)"
  (onEditData)="onEditData($event)"
>
</app-list-data>

<div
  class="modal fade"
  id="addPopUp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{this.editFlag? 'Update '+ this.Mainservice.sidebardata.values + " Details":"Add " + this.Mainservice.sidebardata.values + " Details" }}
        </h5>
      </div>
      <!-- Training -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Training'"
      >
        <form [formGroup]="trainingFrom" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
            <input
              type="text"
              class="form-control mb-3"
              formControlName="title"
              placeholder="Title"
            />
            <textarea
              class="form-control mb-3"
              formControlName="description"
              placeholder="Description"
            ></textarea>
            <label for="startdate" class="mb-1"> Start Date </label>
            <input
              type="date"
              class="form-control mb-3"
              formControlName="startdate"
              id="startDate"
            />
            <label for="endDate" class="mb-1"> End Date </label>
            <input
              type="date"
              class="form-control mb-3"
              formControlName="enddate"
              id="endDate"
            />
            <textarea
              type="text"
              class="form-control mb-3"
              formControlName="address"
              placeholder="Address"
            ></textarea>
            <!-- <div class="d-flex">
              <input
                type="radio"
                class="custom-control custom-radio"
                formControlName="trainingFrequency"
                id="once"
                value=""
              />
              <label
                for="once"
                class="custom-control-label"
                (click)="show()"
                [ngClass]="{
                  selected: trainingFrom.value.trainingFrequency === true
                }"
                >Once</label
              >
              <input
                type="radio"
                class="custom-control custom-radio"
                formControlName="trainingFrequency"
                id="repeat"
                value="false"
              />
              <label
                for="repeat"
                class="custom-control-label"
                (click)="show()"
                [ngClass]="{
                  selected: trainingFrom.value.trainingFrequency === false
                }"
                >Repeat</label
              >
            </div> -->

            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select Municipality'"
              [settings]="settings"
              [data]="muncipality_data"
              [formControl]="f.municipality"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
              class="mb-3"
            >
            </ng-multiselect-dropdown>

            <input
              type="text"
              class="form-control mb-3 mt-3"
              formControlName="basic_requirement"
              placeholder="Basic requirement (Optional)"
            />
            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select sector'"
              [settings]="settings"
              [data]="sector_data"
              [formControl]="f.sector"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>
            <input
              type="text"
              class="form-control mb-3 mt-3"
              formControlName="registrationLink"
              placeholder="Registration Link"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <!-- Job offers -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Job Offers'"
      >
        <form [formGroup]="joboffersForm" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
            <input
              type="text"
              class="form-control mb-3"
              formControlName="title"
              placeholder="Title"
            />
            <textarea
              class="form-control mb-3"
              formControlName="description"
              placeholder="Description"
            ></textarea>

            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select sector'"
              [settings]="settings"
              [data]="sector_data"
              [formControl]="f.sector"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>

            <input
              type="text"
              class="form-control mb-3 mt-3"
              formControlName="linkToApply"
              placeholder="Link To Apply"
            />

            <textarea
              type="text"
              class="form-control mb-3"
              formControlName="rolesAndResponsibility"
              placeholder="Roles and Responsibility"
            ></textarea>

            <input
              type="text"
              class="form-control mb-3 mt-3"
              formControlName="basicRequirements"
              placeholder="Basic requirement (Optional)"
            />

            <textarea
              type="text"
              class="form-control mb-3 mt-3"
              formControlName="address"
              placeholder="Address"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <!-- Learnings - upskill -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Learnings - upskill'"
      >
        <form [formGroup]="learnAndUpskill" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
            <input
              type="text"
              class="form-control mb-3"
              formControlName="courseName"
              placeholder="Title"
            />
            <textarea
              class="form-control mb-3"
              formControlName="description"
              placeholder="Description"
            ></textarea>

            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'Select sector'"
              [settings]="settings"
              [data]="sector_data"
              [formControl]="f.sector"
              [disabled]="false"
              [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>

            <input
              type="text"
              class="form-control mb-3 mt-3"
              formControlName="courseLink"
              placeholder="Course Link"
            />
            <!-- --------------------- -->

            <!-- --------------------- -->
            <label for="formFile" class="form-label">Resource</label>
            <ng-container formArrayName="resourceslink" >
              <div class="row mb-4" *ngFor="
                  let resourcelink of learnAndUpskill.get('resourceslink').controls;
                  let i = index
                "
                [formGroupName]="i" 
              >
               
                  <div class="inputWrapper col-2" style="margin-left: 15px;">
                    <input class="fileInput" style="width: 60px;" type="file" placeholder="Browse"  (change)="setfile(i, $event)" name="file1" />
                    <span class="appendInpText">Browse</span>
                  </div>
                  <div class="col-8 pl-0" style="padding-left: 0px !important;">
                  <input type="text"   class="form-control" formControlName="resourceName"  [placeholder]="'choose Document'" />

                  </div>
                  <div class="col-2 d-flex   align-items-center" >
                    <img class="deletebtnStyle mb-2 px-0" src="../../../../assets/Deleteicon.svg"  (click)="deleteResource(i)" alt="deleteicon"/>
                    <img class="mb-1 deletebtnStyle px-0" *ngIf="i == getResource(i)" (click)="addresource()" src="../../../../assets//addbtnfilebutton.svg" alt="addbtnsvg"/>
                  </div>
                <!-- </div> -->
                
              </div>
            </ng-container>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>

      <!-- Help Line -->
      <div
        class="modal-body"
        *ngIf="this.Mainservice.sidebardata.values == 'Help Line'"
      >
        <form [formGroup]="helpLine" (ngSubmit)="addSubmitForm()">
          <div class="form-group">
          
            <textarea
              class="form-control mb-3"
              formControlName="data"
              placeholder="Help Line message"
            ></textarea>

        
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="abortaddFun()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
