<div class="Totalheight">
    <div class="row d-flex justify-content-center">
        <div class="col-12 px-4 py-1"> <img src="" alt=""> <h5>Training</h5></div>
        <div class="col-12 px-4 py-1">  <img src="" alt=""> <img src="" alt="">  <h5>Job offers</h5></div>
        <div class="col-12 px-4 py-1">  <img src="" alt="">  <h5>Learnings - upskill</h5></div>
        <div class="col-12 px-4 py-1">  <img src="" alt="">  <h5>HelpLine</h5></div>
        <div class="col-12 px-4 py-1">  <img src="" alt="">  <h5>Welcome Message</h5></div>
        <div class="col-12 px-4 py-1">  <img src="" alt="">  <h5>Template Messages</h5></div>

    </div>
</div>
