<div class="table-container">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th  scope="col mr-4">Actions</th>
        <th  scope="col mr-4"></th>
        <th  scope="col mr-4">S.no</th>
        <th *ngFor="let row of tableRow" scope="col mr-4"  ><div class="text-nowrap">
          {{row?.rowValue }}
          <span class="form-check ml-3" [formGroup]="filter" *ngIf="row?.filter">
            <input class="form-check-input " [id]="row.key" (change)="filteringData(row?.filter,row.key)" [formControlName]="row.key" type="checkbox" value="true" >
            <label class="form-check-label" for="flexCheckIndeterminate">
              <!-- Indeterminate checkbox -->
            </label>
          </span>
          <span *ngIf="row?.sorting" class="div ml-2">
          
          <img class="" *ngIf="this.Mainservice.setSortFilerData?.active!=row?.key" (click)="onSortDatafun(row?.key,true)" src="../../assets/blackarrow.svg" alt="">
          <img class="" *ngIf="this.Mainservice.setSortFilerData?.active==row?.key && this.Mainservice.setSortFilerData?.status==true" (click)="clearsorfun()" src="../../assets/pinkarrow.svg" alt="">
          <img class="arrowStyle " *ngIf="this.Mainservice.setSortFilerData?.active !== row?.key "  (click)="onSortDatafun(row?.key,false)" src="../../assets/blackarrow.svg" alt="">
          <img class="arrowStyle "*ngIf="this.Mainservice.setSortFilerData?.active==row?.key && this.Mainservice.setSortFilerData?.status==false" (click)="clearsorfun()" src="../../assets/pinkarrow.svg" alt="">
          </span>
        </div>

          
      </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of tableCol; let ind= index">
        
        <td scope="row">
          
            <span class="mr-1" (click)="onEdit(mainservice.sidebardata.values, col, col.uuid)"><img
                src="../../../../../assets/updateIcon.svg" class=" " alt="updateicon">
            </span>  
        </td>
        <td scope="row">
          <span class="mr-1" (click)="onDelete(mainservice.sidebardata.values, col.uuid)">
            <img src="../../../../../assets/Deleteicon.svg" class=" " alt="Delete ">
          </span>
        </td>
        <td scope="row">{{ind+1}}</td>
        <td scope="row"  *ngFor="let row of tableRow">
          <div  class="limited-lines">
            <!-- {{col[row?.key ?row.key:'']|json}} -->
            <div   data-toggle="tooltip" data-placement="bottom" title="{{col[row?.key ?row.key:'']}}"  *ngIf="!row.link && !row.array && !row.date && !row.resourceLink && !row.courseLink">
              {{col[row?.key ?row.key:'']}}
            </div>
            <ng-container *ngIf="row.link">
              <ng-container *ngIf="col[row?.key ?row.key:'']&&!col[row?.key ?row.key:''].link">-</ng-container>
              <div   data-toggle="tooltip" data-placement="bottom" title="{{col[row?.key ?row.key:'']}}" *ngIf="col[row?.key ?row.key:''] && col[row?.key ?row.key:''].link"  data-toggle="tooltip" data-placement="bottom" title="{{col[row?.key ?row.key:''].title}}">
                <a target="_blank" *ngIf="col[row?.key ?row.key:''] && col[row?.key ?row.key:''].link" [href]="col[row?.key ?row.key:''] ? (col[row?.key ?row.key:''].link) : ''">{{col[row?.key ?row.key:''] ? (col[row?.key ?row.key:''].title ? (col[row?.key ?row.key:''].title) : '-') : ''}}</a>
              </div>
             
            </ng-container>
            <div   data-toggle="tooltip" data-placement="bottom" title="{{funForToolTip(col[row?.key ],'simpleArray')}}" *ngIf="row.array">
              <span *ngFor="let item of col[row?.key ]">{{item + ', '}}</span>
            </div>
            <ng-container *ngIf="row.date">
              {{col[row?.key ?row.key:'']  ? (col[row?.key ?row.key:''] | date: 'dd-MM-yyyy') : '-' }}
            </ng-container>
            <div *ngIf="row.resourceLink"    data-toggle="tooltip" data-placement="bottom" title="{{funForToolTip(col[row?.key ],'Reslink')}}">
              <a *ngFor="let item of col[row?.key ]" target="_blank" [href]="item ? (item.resourcelink) : ''">{{item ? (item.resourceName ? ((item.resourceName))+"," : '-') : ''}}</a>
      
              
            </div>
            <div *ngIf="row.courseLink"   data-toggle="tooltip" data-placement="bottom" title="{{funForToolTip(col[row?.key ],'link')}}">
              <span *ngFor="let item of col[row?.key ]">{{item ? (item.link ? ((item.link))+"," : '-') : ''}}</span>
      
              
            </div>
          </div>
        </td>  
      </tr>
      <tbody>
</table>
</div>


<div class="modal fade" id="exampleModalPopup" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title">Filter</h5>
        <button type="button" (click)="applyFilterInd()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  >
        <ng-multiselect-dropdown
        #multiSelect
        [placeholder]="'Select '+filterArray"
        [settings]="settings_ebook"
        [data]="FilterdDataArr[filterArray]"
        [(ngModel)]=FilterdDataArr[filterKey]
        [disabled]="false"
        (onDeSelect)="onDeSelect($event)"
        
      >
      </ng-multiselect-dropdown>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="applyFilter()" class="btn btn-primary">Apply</button>
       
      </div>
    </div>
  </div>
</div>

